<div class="cart">
  <p class="cart__title">Корзина</p>
  <details *ngIf="service.productsList.length; else other">
    <summary>
      Книг в корзине: {{ service.totalQuantity }} шт.,
      общей стоимостью: {{ service.totalSum | number:'3.2-2' }} руб.
    </summary>
    <ol class="cart__list">
      <li *ngFor="let item of service.productsList"><a href="#">
        <app-cart-item [product]="item"
        (onMinus)="service.decreaseQuantity($event)"
        (onPlus)="service.increaseQuantity($event)"
        (onDelete)="service.removeBook($event)"></app-cart-item>
      </a></li>
    </ol>
    <div class="btn__wrapper">
      <button class="cart__btn" (click)="service.submit()">К оформлению</button>
    </div>
  </details>
  <ng-template #other>
    <p class="cart__content" (wheel)="service.alert()">
      Ваша корзина пуста!
    </p>
  </ng-template>
</div>
