.cart {
  min-width: 400px;
  max-width: 400px;
  margin-top: 3rem;
  padding: 2rem;
  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &::before, &::after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }
  &::after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
  }
  &__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  &__list {
    counter-reset: li;
    list-style: none;
    font: 1rem "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    & a {
      position: relative;
      display: block;
      padding: .4rem .4rem .4rem 2rem;
      margin: .5rem 0;
      background: #DAD2CA;
      color: #000;
      text-decoration: none;
      border-radius: .3rem;
      transition: .3s ease-out;
      &:hover {
        background: #E9E4E0;
      }
      &:hover:before {
        transform: rotate(360deg);
      }
      &:before {
        content: counter(li);
        color: #fff;
        counter-increment: li;
        position: absolute;
        left: -1.3rem;
        top: 50%;
        margin-top: -1.3rem;
        background: #3498db;
        height: 2rem;
        width: 2rem;
        line-height: 1.5rem;
        border: .3rem solid white;
        text-align: center;
        font-weight: bold;
        border-radius: 2rem;
        transition: all .3s ease-out;
      }
    }
  }
}
.btn__wrapper {
  display: flex;
  justify-content: center;
}
.cart__btn {
  font-size: 1rem;
  padding: 0.75rem 0.65rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  background: #3498db;
  color: #fff;
  border: 0.25rem solid #3498db;
  &:hover {
    color: #3498db;
  }
  &::after {
    content: "";
    background: #ecf0f1;
    position: absolute;
    z-index: -1;
    padding: 0.75rem 0.65rem;
    display: block;
    transition: all 0.3s ease;
  }
  &:hover::after {
    transition: all 0.3s ease-out;
  }
  &::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: scale(0, 0);
  }
  &:hover::after {
    transform: scale(1, 1);
  }
}
